Repository Lynsoft/turborepo-template: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typescript-check

biome-check:
  run: pnpm biome check --write {staged_files}
  stage_fixed: true
  fail_text: Biome check failed. Some issues have been auto-fixed, please review and commit again.

typescript-check:
  run: "if [ -n \"{staged_files}\" ]; then\n  pnpm check-types\nfi\n"
  fail_text: TypeScript compilation failed. Please fix type errors and try again.

chore: migrated vitest to the latest version
  package.json
  pnpm-lock.yaml
  vitest.config.ts
  vitest.workspace.ts
Due: biome-check, typescript-check

fix: update vitest to resolve Vite security vulnerability (CVE-GHSA-93m4-6634-74q7)
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  302d6ac43c56724822f9278631a17c6cb6744117
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome-check

chore: added assist biome organize imports rule
  biome.json
Due: biome-check

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,json,jsonc}
  typescript-check: any of: *.{ts,tsx}
